gingerit
git+https://github.com/buddhhu/search-engine-parser.git
git+https://github.com/buddhhu/ofox.git
git+https://github.com/ProgrammingError/rextester_py.git
google-assistant-grpc
tenacity
google-assistant-sdk
hachoir
covid
lyrics_extractor
pyjokes
pyshorteners
pokedex.py
wikipedia
quotefancy
pyfiglet
python-decouple
redis
TgCrypto
python-dotenv
cloudscraper
asyncio
Telethon
heroku3
requests
Pillow
telegraph
psutil
bs4
beautifulsoup4
numpy
PyPDF2
pytz
validators
PyYAML
aiohttp